!pip uninstall -y datasets
!pip uninstall -y gradio
!pip uninstall -y libcugraph-cu12
!pip uninstall -y pylibcugraph-cu12
!pip uninstall -y pylibraft-cu12
!pip uninstall -y libraft-cu12
!pip uninstall -y rmm-cu12
!pip install --quiet torch
!pip install --quiet soundfile
!pip install --quiet transformers==4.44.2
